.career-experience-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
  }
  
  .grid-company-title {
    grid-column: 3/4;
  }
  
  .grid-client-title {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
  .grid-experience {
    grid-column: 1/4;
    grid-row: 5/6;
  }