@import './main.scss';

.section-title{
    margin: 0px 0px 20px 0px;
    font-family: "Fira Sans";
    font-size: 70px;
    font-weight: 800;
    line-height: 80px;

    span{
        span{

            color: $secoundary-color;
        }
    }

}